body {
  font-family: "Times New Roman", Times, serif;
}
* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 6px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 2px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.createbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.upbtn {
  background-color: #0000FF;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.createbtn:hover {
  opacity: 1;
}

.deletebtn {
  background-color: #FF0000;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}
.sidenav {
  height: 100%;
  width: 13%;
  position: fixed;
  z-index: 1;
  top: 0;
  margin: 10;
  bottom: 0;
  left: 0;
  float: right;
  background-color: #000;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:#FFFFFF;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.deletebtn:hover {
  opacity: 1;
}
.updatebtn {
  background-color: #FFFFFF;
  color: black;
  padding: 16px 20px;
  margin: 8px 0;
  border: green;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.updatebtn:hover {
  opacity: 1;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.the-image {
  background-image: url('images.jpg');
  background-color: #ADD8E6;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
}

.text{
  
  background-color: #white;
  
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #000000;
  padding: 10px;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: white;
}
.footer {
   position: fixed;
   text-decoration-line: inline;
   left: 10;
   bottom: 0;
   width: 100%;
   background-color: #013220;
   color: white;
   text-align: center;
}
/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: white;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
{

}